@model System.Collections.Generic.IEnumerable<theFood.Domain.DbModel.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Users</h1>
<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr> @foreach (var item in Model)
          {
              <tr>
                  <td>@item.Id</td>
                  <td>@Html.ActionLink(item.FirstName + " " + item.SecondName, "EditUser", new {item.Id})</td>



                  <td>
                      @using (Html.BeginForm("DeleteUser", "Admin"))
                      {
                          @Html.Hidden("Id", item.Id)
                          <input type="submit" value="Delete"/>
                      }
                  </td>
              </tr>
          }
</table>

<p>@Html.ActionLink("Add a new user", "CreateUser")</p> 
<p>@Html.ActionLink("Back", "Index", "Admin")</p>
